services:
  backend:
    build: ./backend
    container_name: tts_backend
    ports:
      - "8000:8000"
    volumes:
      - hf_cache:/root/.cache/huggingface
    environment:
      - HF_HOME=/root/.cache/huggingface

  frontend:
    build: ./frontend
    container_name: tts_ui
    ports:
      - "8501:8501"
    environment:
      - BACKEND_URL=http://backend:8000
    depends_on:
      - backend

volumes:
  hf_cache: